Version: "2012-10-17"
Statement:
  - Sid: Allow conecting to RDS with the user
    Effect: Allow
    Action:
      - rds-db:connect
    Resource:
      - "aws:${partition}:rds-db:${region}:${account}:dbuser:${cluster_id}:${username}"
